// Sidebar
sidebar {
  right: 0;
  position: absolute;
  height: 100%;
  width:100%;
  z-index: 125;
  -webkit-transform-style: preserve-3d;
  animation: sidebareffect .5s;
  -webkit-animation: sidebareffect .5s;
  -webkit-transform: translateZ(0);
  background:#fff;

  .feed-bar{
    border-bottom: 1px solid #ccc;
    color: #8A8A8A;
    display: block;
    padding: 10px;
    font-size: 14px;

    a.close{
        border: 1px solid #666;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #666;
        color: #fff;
        padding: 3px 9px;
    }

  }

  .feed-item-view{

    padding:20px;
    color:#666;
    overflow-y: scroll;
    height: calc(100% - 108px);

    h1{
        font-size:18px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height:150%;
    }

    .feed-content{
        font-size:16px;
        line-height:150%;

        img{
            max-width:100%;
            height:auto;
        }

        p{
            margin-bottom:15px;
            font-size:14px;
        }

        a{
            color:#19B6C4;
        }

    }

  }

  &.hidden {
  	right: -10px;
    animation: sidebareffect2 .5s;
    -webkit-animation: sidebareffect2 .5s;
    -webkit-transform: translate(100%, 0);
  }

}
