<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script>window.__startTime = (new Date()*1);</script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="js/vendor/video-js/video-js.css">

  </head>
  <body>

    <header id="header"></header>

    <script id="header-tpl" type="text/x-template">
        <nav class="btn-set <%= process.platform %>">

          <% _.each(buttons, function(button) { %>
            <button class="btn-os <%= button %>"></button>
          <% }); %>
        </nav>

        <h1>Minimal Reader</h1>
    </script>

    <div id="notification"></div>

    <section class="container">
      <sidebar class="hidden"></sidebar>
    </section>

    <div class="popcorn-load hidden">
      <div class="wrapper">
        <span class="spinner"></span>
        <span class="text"></span>
        <div class="progressbar"><div class="progress"></div></div>
        <div class="progressinfo"></div>
      </div>
      <a href="javascript:;" class="btn-close"><img src="/images/close.svg" width="50" /></a>
    </div>

    <script id="subscriptions-tpl" type="text/x-template">
        <div id="subscriptions">
            <% _.each(subscriptions, function(s){ %>
                <li class="subscription"><a href="#<%=s.id%>"><%=s.title%></a></li>
            <% }); %>
        </div>
    </script>

    <script id="add-subscription-tpl" type="text/x-template">

        <form id="<%=form_id%>" class="addSubscription">
            <input type="text" name="subscription" placeholder="Insira a url do feed" />
            <a class="btn confirmation continue">Cadastrar</a>
        </form>

    </script>

    <div class="no-subscription hidden">
      <div class="wrapper">
        <span class="text">Você ainda não se inscreveu em nenhum feed, gostaria de adicionar o primeiro?</span>
            <div id="homeAddSubscription"></div>
        <br/>        
      </div>
    </div>

    <script src="js/vendor/jquery-2.1.0.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone-1.1.0.js"></script>
    <script src="js/vendor/marionette.1.6.4.js"></script>
    <script src="js/vendor/bootstrap-tooltip.min.js"></script>
    <script src="js/vendor/mediator.min.js"></script>

    <script src="js/vendor/settings.js"></script>

    <script src="js/app.js"></script>
    <script src="js/frontend/util.js"></script>
    <script src="js/frontend/ui.js"></script>

    <script src="js/frontend/model/subscription.js"></script>
    <script src="js/frontend/controller/subscription.js"></script>

    <script src="js/frontend/view/AddSubscription.js"></script>
    <script src="js/frontend/page/home.js"></script>

    <script type="text/javascript">
        new App.Page.Home();
    </script>


    <!--
    <script src="js/vendor/config.js"></script>



    <script src="js/language.js"></script>
    <script src="js/tracking.js"></script>
    <script src="js/updater.js"></script>



    <script src="js/frontend/player.js"></script>


    <script src="js/frontend/providers/torrents.js"></script>


    <script src="js/frontend/models/movie.js"></script>
    <script src="js/frontend/views/page.js"></script>
    <script src="js/frontend/views/listview.js"></script>
    <script src="js/frontend/views/movie.js"></script>
    <script src="js/frontend/views/sidebar.js"></script>
    <script src="js/frontend/controllers/home.js"></script>
    <script src="js/frontend/controllers/search.js"></script>
    <script src="js/frontend/controllers/filter.js"></script>
    <script src="js/frontend/router.js"></script>


    <script src="rc/index.js"></script>


    <script src="js/vendor/video-js/video.dev.js"></script>
    <script src="js/vendor/videojsplugins.js"></script>
    <script src="js/vendor/dragwindow.js"></script>

    <script>userTracking.event('App Start', 'Ready - '+Settings.get('version'),  (Math.round(((new Date()*1) - __startTime) / 100) * 100) +'ms' ).send();</script-->
  </body>
</html>
