<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script>window.__startTime = (new Date()*1);</script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="js/vendor/video-js/video-js.css">

  </head>
  <body>

    <header id="header"></header>

    <div id="notification"></div>

    <div id="catalog-select">

      <h4>Feeds</h4>
      <ul class="categories">

      </ul>


        <div id="icons-bar">
            <a title="Adicionar novo Feed" href="#" id="add-subscription"><img src="images/add.png" /></a>
        </div>

    </div>

    <section class="app-container">
        <sidebar class="hidden"></sidebar>
        <article class="feeds"></article>
    </section>

    <div class="popcorn-load hidden">
      <div class="wrapper">
        <span class="spinner"></span>
        <span class="text"></span>
        <div class="progressbar"><div class="progress"></div></div>
        <div class="progressinfo"></div>
      </div>
      <a href="javascript:;" class="btn-close"><img src="/images/close.svg" width="50" /></a>
    </div>

    <div class="no-subscription hidden">
      <div class="wrapper">
        <span class="text">Você ainda não se inscreveu em nenhum feed, gostaria de adicionar o primeiro?</span>
            <div id="homeAddSubscription"></div>
        <br/>
      </div>
    </div>

    <!-- Templates -->

    <script id="header-tpl" type="text/x-template">
        <nav class="btn-set <%= process.platform %>">

          <% _.each(buttons, function(button) { %>
            <button class="btn-os <%= button %>"></button>
          <% }); %>
        </nav>

        <h1>Minimal Reader</h1>
    </script>

    <script id="subscriptions-tpl" type="text/x-template">

            <% _.each(subscriptions, function(s){ %>
                <li class="subscription"><a href="#<%=s.id%>"><%=s.title%></a></li>
            <% }); %>

    </script>

    <script id="feed-item" type="text/x-template">
        <div class="feed-bar">
            <a href="#" class="close">Voltar</a>
        </div>
        <div class="feed-item-view">

            <h1><%=feed.title%></h1>

            <div class="feed-content">
                <%=feed.description%>
            </div>

        </div>

    </script>

    <script id="feeds-tpl" type="text/x-template">

            <% _.each(feeds, function(s){ %>
                <li class="feed-item"><a href="#<%=s.id%>"><%=s.title%></a></li>
            <% }); %>

    </script>

    <script id="add-subscription-tpl" type="text/x-template">

        <form id="<%=form_id%>" class="addSubscription">
            <input type="text" name="subscription" placeholder="Insira a url do feed" />
            <a class="btn confirmation continue">Cadastrar</a>
        </form>

    </script>

    <!-- Vendor -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <script src="vendor/backbone/backbone.js"></script>
    <script src="vendor/mediator-js/lib/mediator.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/bootbox/bootbox.js"></script>

    <script src="js/vendor/settings.js"></script>

    <script src="js/app.js"></script>
    <script src="js/frontend/util.js"></script>
    <script src="js/frontend/ui.js"></script>

    <script src="js/frontend/model/subscription.js"></script>
    <script src="js/frontend/model/feed.js"></script>

    <script src="js/frontend/controller/subscription.js"></script>
    <script src="js/frontend/controller/feed.js"></script>

    <script src="js/frontend/view/AddSubscription.js"></script>
    <script src="js/frontend/view/ListSubscriptions.js"></script>
    <script src="js/frontend/view/ListFeeds.js"></script>
    <script src="js/frontend/view/FeedItem.js"></script>

    <script src="js/frontend/page/home.js"></script>

    <script type="text/javascript">
        new App.Page.Home();
    </script>

  </body>
</html>
